@model Brinquedo
@{
    ViewData["Title"] = "Editar Atração";
}

<h1>Editar Atração</h1>

<form asp-action="Editar">
    <input asp-for="BrinquedoId" />
    <partial name="_Form"/>

    <botao texto="Editar"></botao>
    <input type="submit" value="Cancelar" asp-controller="brinquedo" asp-action="index" class="btn btn-danger" />
</form>
